@model Product

<div class="products__item">
    <div class="products__picture-and-checkbox">
        <div class="products__picture">
            <a class="products__img-ref" asp-action="ProductPage" asp-route-productId="@Model.Id">
                <img class="products__img" src="@Model.ImagePath" alt="">
            </a>
        </div>
        <div class="products__checkbox">
            <input class="custom-checkbox" type="checkbox" name="@Model.GetTitle()" id="@Model.GetTitle()">
            <label for="@Model.GetTitle()">Сравнить</label>
        </div>
    </div>
    <div class="products__main-info">
        <div class="products__title">
            <a asp-action="ProductPage" asp-route-productId="@Model.Id">
                <span>@Model.GetTitle()</span>
            </a>
        </div>
        <div class="products__description-and-buttons">
            <div class="products__description">
                <div>
                    @foreach(var str in Model.GetDescriptionLines())
                    {
                        <span>@str</span>
                    }
                </div>
            </div>
            <div class="products__buttons">
                <div class="price__container">
                    <a class="products__price" asp-action="ProductPage" asp-route-productId="@Model.Id">@Model.Price</a><span>б.р.</span>
                </div>
                <form id="@Model.Id" asp-action="AddToCart" asp-controller="Cart" method="post">
                    <input type="hidden" name="productId" asp-for="@Model.Id"/>
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
                    <button type="submit" class="products__putInBasket"><span>Положить в корзину</span></button>
                </form>
            </div>
        </div>
        <div class="products__comment-link">
        </div>
    </div>
</div>
