@model Product

<div class="products__item">
    <div class="products__picture-and-checkbox">
        <div class="products__picture">
            <a class="products__img-ref">
                <img class="products__img" src="@Model.ImagePath" alt="">
            </a>
        </div>
        <div class="products__checkbox">
            <input class="custom-checkbox" type="checkbox" name="@Model.GetTitle()" id="@Model.GetTitle()">
            <label for="@Model.GetTitle()">Сравнить</label>
        </div>
    </div>
    <div class="products__main-info">
        <div class="products__title">
            <span>@Model.GetTitle()</span>
        </div>
        <div class="products__description-and-buttons">
            <div class="products__description">
                <span><b>Экран: </b>@Model.GetDescriptionValue("Экран")</span>
                <span><b>Система: </b>@Model.GetDescriptionValue("Система")</span>
                <span><b>Память: </b>@Model.GetDescriptionValue("Память")</span>
                <span><b>Камера: </b>@Model.GetDescriptionValue("Камера")</span>
                <span><b>Связь: </b>@Model.GetDescriptionValue("Связь")</span>
                <span><b>Конструкция: </b>@Model.GetDescriptionValue("Конструкция")</span>
            </div>
            <div class="products__buttons">
                <div class="price__container">
                    <a href="#" class="products__price">@Model.Price</a><span>б.р.</span>
                </div>
                <form id="@Model.Id" asp-action="AddToCart" asp-controller="Cart" method="post">
                    <input type="hidden" name="productId" asp-for="@Model.Id"/>
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
                    <button type="submit" class="products__putInBasket"><span>Положить в корзину</span></button>
                </form>
            </div>
        </div>
        <div class="products__comment-link">
        </div>
    </div>
</div>
