@model IEnumerable<Product>

@{
    ViewBag.Title = "Список товаров";
    Layout = "_AdminLayout";
}

 <div class="main__products-container">
    @if(TempData["message"] != null)
    {
            <div class="changes-success">@TempData["message"]</div>
    }
    <form action="SortProducts" method="get">
        <div class="sort-form-items-container">
            <div class="sort-form-row">
                <div class="sort-form-item">
                    <label>
                        Наименование:
                        <input type="text" name="productName" placeholder="Наименование:">
                    </label>
                </div>
                <div class="sort-form-item">
                    <label>
                        Минимальная цена:
                        <input type="text" name="minPrice" placeholder="Минимальная цена:">
                    </label>
                </div>
                <div class="sort-form-item">
                    <label>
                        Максимальная цена:
                        <input type="text" name="maxPrice" placeholder="Максимальная цена:">
                    </label>
                </div>
            </div>
            <div class="sort-form-row">
                <div class="sort-form-item">
                    <label class="triangle-for-select select-container" data-state="">
                        Категория:
                        <select class="select" data-state="">
                            <option value=""></option>
                            <option value="phone">Телефон</option>
                            <option value="laptop">Ноутбук</option>
                        </select>
                    </label>
                </div>
                <div class="sort-form-item">
                    <label>
                        Количество:
                        <input type="text" name="ProductName" placeholder="Количество:">
                    </label>
                </div>
            </div>
            <div class="sort-form-row">
                <div class="sort-button-container">
                    <button class="to-sort-button" type="submit">Фильтр</button>
                </div>
            </div>
        </div>
    </form>
    <table class="products__table">
        <thead>
            <th class="col-id">Id</th>
            <th class="col-img">Изображение</th>
            <th class="col-name">Наименование товара</th>
            <th class="col-price">Цена</th>
            <th class="col-category">Категория</th>
            <th class="col-quantity">Количество</th>
            <th class="col-actions">Действия</th>
        </thead>
        <tbody>
            @foreach(var product in Model)
            {
            <tr>
                <td class="col-id">@product.Id</td>
                <td class="col-img"><div><img src="@product.ImagePath"></div></td>
                <td class="col-name">@product.GetTitle()</td>
                <td class="col-price">@product.Price.ToString("c")</td>
                <td class="col-category">@product.Category</td>
                <td class="col-quantity">@product.Quaintity</td>
                <td class="col-actions">
                    <form asp-action="Delete" method="post">
                        <a class="edit-button" asp-action="Edit" asp-route-productId="@product.Id">Редактировать</a>
                        <input type="hidden" name="productId" value="@product.Id"/>
                        <button type="submit" class="delete-button">Удалить</button>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="add-button-container">
        <a asp-action="Create" class="add-button">Добавить товар</a>
        <a asp-controller="Home" asp-action="Index" class="to-HomeIndex-button">На главную</a>
    </div>
</div>
<environment names="Development">
     <script src="~/js//custom-select.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js//custom-select.js"></script>
</environment>
