@model Cart
   
<div class="cart-widget-container">
    @if(Model.CartItems.Count() > 0)
    {
        @*<small class="cart-widget-text">
            <b>Ваша корзина:</b>
            @Model.CartItems.Sum(i => i.Quantity) товар(-а)
            @Model.ComputeTotalValue()
        </small>*@
        <small class="cart-widget-count">
            @Model.CartItems.Sum(i => i.Quantity)
        </small>
        <small class="cart-widget-total">
            @Model.ComputeTotalValue()
        </small>
    }
    <a class="cart-widget-button" asp-controller="Cart" asp-action="Index"
        asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <iconify-icon icon="ion:cart-outline"></iconify-icon>
    </a>
</div>
